<footer class="bg-dark div2 " >

    <div>
      <h3>gtyfghj</h3>
      <span>hhhhh</span><br>
      <span>lllllll</span><br>
      <span>hhhhjjj</span><br>
      <span>vvvvvv</span><br>
    </div>
    <div>
      <h3>vvvvvvvv</h3>
      <span>hhhhh</span><br>
      <span>lllllll</span><br>
      <span>hhhhjjj</span><br>
      <span>vvvvvv</span><br>
    </div>
    <div>
      <h3>hjvbnb </h3>
      <span>hhhhh</span><br>
      <span>lllllll</span><br>
      <span>hhhhjjj</span><br>
      <span>vvvvvv</span><br>
    </div>

</footer>